{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="d-flex">
  <div class="m-5 p-5">
    <h2>Bienvenu</h2>
    <p>J'espère que ce projet te serà utile</p>
  </div>
    <div class="m-4 d-flex  w-50">
      <a href="{{path('jouteur')}}" class="lien">
        <figure>
          <img src="{{asset('img/nv-jouteur.jpg')}}"
               alt="image nv jouteur"
               width="200"
               >

          <figcaption class="text-center">Nouveau Jouteur</figcaption>
        </figure>
      </a>
      <a href="{{path('affrontement')}}">
        <figure>
          <img src="{{asset('img/selection.jpg')}}"
               alt="image selection"
               width="200"
               >

          <figcaption class="text-center">Poules Jouteurs</figcaption>
        </figure>
      </a>
      <a href="{{path('listeJouteur')}}">
        <figure>
          <img src="{{asset('img/listes.png')}}"
               alt="image selection"
               width="200"
               >

          <figcaption class="text-center">Voir les jouteurs</figcaption>
        </figure>
      </a>
  </div>
</div>
{% endblock %}
