{% extends 'base.html.twig' %}
{% block body %}
<div class="p-5">
    <h1>Veuillez attribuer les points bonus </h1>
    <medium><b>/!\</b> Attention chaque caracteristique ne peut avoir que <b>6</b> points maxi <b>/!\</b></medium><br>
      {% for item in jouteurs %}
          <div id="resultform{{loop.index - 1}}"></div>
          <form id="form{{loop.index - 1}}" name="confirmForm" class="confirmForm">
            {% if item.bonus != null %}
              <p>Vous avez <b>{{item.bonus}}</b> à distribuer pour <b>{{item.name}}</b> :</p>
              <input type="hidden" name="id" value="{{item.id}}"/>
              <label for="name">Nom</label>
              <input type="text" class="name" name="name" value="{{item.name}}" readonly/>
              <label for="strength">Force</label>
              <input type="number" class="strength" name="strength" value="{{item.strength}}"/>
              <label for="intelligence">intelligence</label>
              <input type="number" class="intelligence" name="intelligence" value="{{item.intelligence}}"/>
              <label for="charism">charisme</label>
              <input type="number" class="charism" name="charism" value="{{item.charism}}" />
              <button type="submit">Valider</button>
            {% else %}
              <p>Vous avez <b>0</b> à distribuer pour <b>{{item.name}}</b> :</p>
              <input type="hidden" name="id" value="{{item.id}}"/>
              <label for="name">Nom</label>
              <input type="text" class="name" name="name" value="{{item.name}}" readonly/>
              <label for="strength">Force</label>
              <input type="number" class="strength" name="strength" value="{{item.strength}}" readonly/>
              <label for="intelligence">intelligence</label>
              <input type="number" class="intelligence" name="intelligence" value="{{item.intelligence}}" readonly/>
              <label for="charism">charisme</label>
              <input type="number" class="charism" name="charism" value="{{item.charism}}" readonly/>
              <button type="submit">Valider</button>
            {% endif %}
          </form>
      {% endfor %}
      <a href="{{path('main')}}"><button>J'ai fini</button></a>
</div>
{% endblock %}
{% block javascripts %}
  <script src="{{asset('js/confirm.js')}}"></script>
{% endblock %}
