{% extends 'base.html.twig' %}
{% block title %}Nouveau Jouteur{% endblock %}
{% block body %}
{% if message !=null %}
  <h3 class="alert alert-success">{{message}}</h3>
{% endif %}
<h1>Entrez votre nouveau jouteur</h1>
<div>
  {{form_start(form, { 'attr' : { 'enctype' : 'multipart/form-data'}})}}
    {{form_label(form.name, 'Nom du Jouteur')}}
    {{form_row(form.name, {'value': ''})}}
    {{form_label(form.strength, 'Force')}}
    {{form_row(form.strength, {'value': ''})}}
    {{form_label(form.intelligence, 'Intelligence')}}
    {{form_row(form.intelligence, {'value': ''})}}
    {{form_label(form.charism, 'Charisme')}}
    {{form_row(form.charism, {'value': ''})}}
    <label for="experience" class="form-control form-control-lg">Nombre joutes</label>
    <input id="experience" class="experience form-control form-control-lg" name="experience"/>
    <label for="monture">Selectionnez la monture</label>
    <select name="monture" id="monture" class="form-control form-control-lg">
      <option value="">choisissez</option>
      {% for item in monture %}
        <option value="{{item.bonus}}">{{item.name}}</option>
      {% endfor %}
    </select>
    {{ form_row(form.armoirie) }}
    <button type="submit">Ajouter</button>
  {{form_end(form)}}
  <a href="{{path('confirmation')}}">j'ai fini, je passe à la suite</a>
</div>
{% endblock %}
