{% extends 'base.html.twig' %}
{% block title %}liste jouteur{% endblock %}
{% block body %}
    <div class="text-center">
      <h1>Joute de {{ "now"|date("d.m") }} en franche-comté</h1>
      <div class="pl-5 text-left">
        {% if message != null %}
        <h3 class="alert alert-success">{{message}}</h3>
        {% endif %}
        <h2>liste des jouteurs</h2>
        <ul>
          {% for jouteur in listeJouteur %}
          <li>
            <p>
              <img src="{{asset(jouteur.armoirie.path)}}" alt="armoiries" width="50px"/>
              {{jouteur.name}}
              <a href="{{path('supprimerJouteur', {id: jouteur.id})}}">Supprimer</a>
            </p>
          </li>
          {% endfor %}
        </ul>
        <div>
          <a href="{{path('jouteur')}}"><button>ajouter</button></a>
        </div>
      </div>
    </div>
{% endblock %}
