{% extends 'base.html.twig' %}
{% block title %}affrontement{% endblock %}
{% block body %}
<div>
  {% for jouteur in poules %}
    {% if jouteur|length == 1  %}
        <p><b>{{jouteur.name}}</b> passe ce tour sans affrontement, rendez-vous au prochain tour </p>
      {% else %}
        <form id="form{{loop.index - 1}}" name="myForm" class="myForm">
          <h3>Duel {{loop.index - 1}} </h3>
          <input type="text" name="name" value="{{jouteur[0].name}}" readonly />
          <input type="hidden" name="strength" value="{{jouteur[0].strength}}">
          <input type="hidden" name="intelligence" value="{{jouteur[0].intelligence}}">
          <input type="hidden" name="charism" value="{{jouteur[0].charism}}">
          <input type="text" name="name2" value="{{jouteur[1].name}}" readonly />
          <input type="hidden" name="strength2" value="{{jouteur[1].strength}}">
          <input type="hidden" name="intelligence2" value="{{jouteur[1].intelligence}}">
          <input type="hidden" name="charism2" value="{{jouteur[1].charism}}">
          <input type="hidden" name="number" value="{{loop.index}}">
          <button id="submit{{loop.index - 1}}" class="myFormBtn" type="submit">lancer</button>
        </form>
    {% endif %}
    <div id="resultform{{loop.index - 1}}"></div>
  {% endfor %}
</div>
<a href="{{path('main')}}"><button>Retour à l'acceuil</button></a>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/affrontement.js')}}"></script>
{% endblock %}
